@import "../../styles/variable";
@import "../../styles/_mediaprefix";


.Trv {
    margin: 0 12px;
}

.TrvImg {
    position: absolute;
    bottom: -23px;
    left: -7px;
    min-width: 164px;

    @include mq('max', 1299px) {
        min-width: 155px;
        width: 155px;
        bottom: -20px;
    }

    @include mq('max', 1199px) {
        min-width: 120px;
        width: 120px;
        bottom: -18px;
    }

    @include mq('max', 991px) {
        min-width: 80px;
        width: 80px;
        left: 3px;
        bottom: -12px;
    }

    @include mq('max', 767px) {
        min-width: 90px;
        width: 90px;
        bottom: -14px;
    }

    @include mq('max', 575px) {
        min-width: 80px;
        width: 80px;
        bottom: -12px;
        left: 0px;
    }

    @include mq('max', 425px) {
        min-width: 58px;
        width: 58px;
        bottom: -9px;
        left: 3px;
    }
}

.TrvWrpFlex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 320px;
    position: relative;

    @include mq('max', 1199px) {
        height: 180px;
    }

    @include mq('max', 767px) {
        height: auto;
    }
}

.TrvWrp {
    color: $white;
    text-align: center;

    h1 {
        font-family: 'Overlock', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        margin-bottom: 17px;
        position: relative;
        letter-spacing: 0.4px;

        @include mq('max', 1299px) {
            font-size: 50px;
        }

        @include mq('max', 1199px) {
            font-size: 40px;
            line-height: 1.3;
            margin-bottom: 13px;
        }

        @include mq('max', 991px) {
            font-size: 33px;
            margin-bottom: 11px;
        }

        @include mq('max', 767px) {
            font-size: 26px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 8px;
        }

        @include mq('max', 460px) {
            text-align: center;
            font-size: 28px;
        }

        @include mq('max', 425px) {
            font-size: 22px;
        }

        @include mq('max', 375px) {
            font-size: 20px;
        }

        span {
            color: $secondary;
        }
    }

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4px;
        margin-bottom: 0;

        @include mq('max', 1299px) {
            font-size: 15px;
        }

        @include mq('max', 991px) {
            font-size: 14px;
        }

        @include mq('max', 767px) {
            font-size: 13px;
            font-weight: 300;
        }

        @include mq('max', 575px) {
            font-size: 12px;
            line-height: 1.6;
        }

        @include mq('max', 425px) {
            font-size: 11px;
            letter-spacing: 0.6px;
        }
    }
}


.TrvWrpPlane {
    position: absolute;
    width: 250px;
    top: 34px;
    left: -300px;

    @include mq('min', 1700px) {
        @include css3('transform', rotate(-45deg) scale(-1));
    }

    @include mq('max', 1699px) {
        @include css3('transform', rotate(-30deg));
        width: 62%;
        top: -66px;
        left: 100%;
    }

    @include mq('max', 1199px) {
        top: -116px;
        @include css3('transform', rotate(-35deg));

    }

    @include mq('max', 991px) {
        top: -76px;
        margin-left: 15px;
    }

    @include mq('max', 767px) {
        display: none
    }
}

.ExploreTravel {
    background-color: #f4f6f8;
    @include bgPath('engine-banner-airplane.webp');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 1440px;
    max-width: 96%;

    @include mq('min', 1200px) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    @include mq('max', 1439px) {
        max-width: none;
        width: 100%;
        margin-bottom: 45px;
    }

    @include mq('max', 767px) {
        background-image: none;
        background-color: transparent;
        margin-bottom: 0;

        &::after {
            content: "";
            height: 350px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            -webkit-background-size: 1.2em 1.2em;
            -moz-background-size: 1.2em 1.2em;
            -o-background-size: 1.2em 1.2em;
            background-size: 1.2em 1.2em;
            background-image: -webkit-radial-gradient(top left, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -webkit-radial-gradient(bottom left, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -webkit-radial-gradient(top right, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -webkit-radial-gradient(bottom right, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -webkit-radial-gradient(circle, transparent 25%, #240A34 26%), -webkit-linear-gradient(45deg, transparent 46%, #4d2a62 47%, #4d2a62 52%, transparent 53%), -webkit-linear-gradient(315deg, transparent 46%, #4d2a62 47%, #4d2a62 52%, transparent 53%);
            background-image: -moz-radial-gradient(top left, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -moz-radial-gradient(bottom left, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -moz-radial-gradient(top right, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -moz-radial-gradient(bottom right, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -moz-radial-gradient(circle, transparent 25%, #240A34 26%), -moz-linear-gradient(45deg, transparent 46%, #4d2a62 47%, #4d2a62 52%, transparent 53%), -moz-linear-gradient(315deg, transparent 46%, #4d2a62 47%, #4d2a62 52%, transparent 53%);
            background-image: -o-radial-gradient(top left, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -o-radial-gradient(bottom left, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -o-radial-gradient(top right, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -o-radial-gradient(bottom right, circle, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), -o-radial-gradient(circle, transparent 25%, #240A34 26%), -o-linear-gradient(45deg, transparent 46%, #4d2a62 47%, #4d2a62 52%, transparent 53%), -o-linear-gradient(315deg, transparent 46%, #4d2a62 47%, #4d2a62 52%, transparent 53%);
            background-image: radial-gradient(circle at top left, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), radial-gradient(circle at bottom left, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), radial-gradient(circle at top right, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), radial-gradient(circle at bottom right, transparent 9%, #4d2a62 10%, #4d2a62 15%, transparent 16%), radial-gradient(circle, transparent 25%, #240A34 26%), linear-gradient(45deg, transparent 46%, #4d2a62 47%, #4d2a62 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #4d2a62 47%, #4d2a62 52%, transparent 53%);
            background-color: #240A34;
            opacity: 1;
            -webkit-border-radius: 0 0 60% 60% / 10%;
            -moz-border-radius: 0 0 60% 60% / 10%;
            border-radius: 0 0 60% 60% / 10%;
        }
    }

    &,
    &::before {
        border-radius: 25px;

        @include mq('max', 1439px) {
            border-radius: 0
        }
    }


    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(36 10 52 / 20%);

        @include mq('max', 767px) {
            display: none;
        }
    }
}


.Trv {
    display: inline-block;
    position: relative;
}


.ExploreTravelCont,
.TrvEngWrp {
    position: relative;
    z-index: 2;
}

.ExploreTrvContBody,
.ExploreTravelCont {
    @include mq('max', 991px) {
        max-width: 100%;
        padding-left: 26px;
        padding-right: 26px;
    }

    @include mq('max', 767px) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include mq('max', 575px) {
        padding-left: 22px;
        padding-right: 22px;
    }

    @include mq('max', 425px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.ExploreTrvContBody {
    position: relative;
    z-index: 2;
}

.TrvWrpFlex {
    top: 20px;

    @include mq('max', 1439px) {
        top: 23px;
    }

    @include mq('max', 767px) {
        top: 0;
        padding: 33px 0
    }

    @include mq('max', 375px) {
        padding: 30px 0
    }

    @include mq('max', 360px) {
        padding: 28px 0
    }
}

.TrvEngWrp {
    top: 45px;

    @include mq('max', 767px) {
        top: 0;
    }
}