@import "../../styles/variable";
@import "../../styles/_mediaprefix";


.Trv {
    margin: 0 12px;
}

.TrvImg {
    position: absolute;
    bottom: -23px;
    left: -7px;
    min-width: 164px;

    @include mq('max', 1299px) {
        min-width: 155px;
        width: 155px;
        bottom: -20px;
    }

    @include mq('max', 1199px) {
        min-width: 120px;
        width: 120px;
        bottom: -18px;
    }

    @include mq('max', 991px) {
        min-width: 80px;
        width: 80px;
        left: 3px;
        bottom: -12px;
    }

    @include mq('max', 767px) {
        min-width: 90px;
        width: 90px;
        bottom: -14px;
    }

    @include mq('max', 575px) {
        min-width: 80px;
        width: 80px;
        bottom: -12px;
        left: 0px;
    }

    @include mq('max', 425px) {
        min-width: 58px;
        width: 58px;
        bottom: -9px;
        left: 3px;
    }
}

.TrvWrpFlex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 320px;
    position: relative;
}

.TrvWrp {
    color: $white;
    text-align: center;

    h1 {
        font-family: 'Overlock', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        margin-bottom: 17px;
        position: relative;
        letter-spacing: 0.4px;

        @include mq('max', 1299px) {
            font-size: 50px;
        }

        @include mq('max', 1199px) {
            font-size: 40px;
            line-height: 1.3;
            margin-bottom: 13px;
        }

        @include mq('max', 991px) {
            font-size: 33px;
            margin-bottom: 32px;
        }

        @include mq('max', 767px) {
            font-size: 26px;
            text-align: center;
            margin-bottom: 34px;
            margin-top: 16px;
        }

        @include mq('max', 575px) {
            margin-bottom: 28px;
            margin-top: 6px;
        }

        @include mq('max', 460px) {
            text-align: center; 
            font-size: 28px;
        }

        @include mq('max', 425px) {
            font-size: 22px;
            max-width: 245px;
        }

        span {
            color: $secondary;
        }
    }

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4px;
        margin-bottom: 0;

        @include mq('max', 991px) {
            display: none;
        }


    }
}


.TrvWrpPlane {
    position: absolute;
    width: 250px;
    top: 34px;
    left: -300px;

    @include mq('min', 1700px) {
        @include css3('transform', rotate(-45deg) scale(-1));
    }

    @include mq('max', 1699px) {
        @include css3('transform', rotate(-30deg));
        width: 62%;
        top: -66px;
        left: 100%;
    }

    @include mq('max', 1199px) {
        top: -116px;
        @include css3('transform', rotate(-35deg));

    }

    @include mq('max', 991px) {
        top: -76px;
        margin-left: 15px;
    }

    @include mq('max', 767px) {
        display: none
    }
}

.ExploreTravel {
    background-color: #f4f6f8;
    @include bgPath('engine-banner-airplane.webp');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    position: relative;
    max-width: 1440px; 
    margin-left: auto;
    margin-right: auto; 
    @include mq('max', 575px) { 
        padding-left: 3px;
        padding-right: 3px;
    }

    &,&::before{
        border-radius: 25px;
    }


    &::before { 
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(36 10 52 / 20%);
    } 
}


.Trv {
    display: inline-block;
    position: relative;
}


.ExploreTravelCont,
.TrvEngWrp {
    position: relative;
    z-index: 2;
}


.TrvWrpFlex,
.TrvEngWrp{
    top: 45px;
}