@import "../../styles/variable";
@import "../../styles/mixins";

.TopBlogWave { 
    width: 100%;
    height: 85px;
    background-size: 100%;
     position: relative;
    overflow: hidden;
    background-color: #fff5ea;
    @include mq('max', 991px) {
        height: 68px;
    }
    @include mq('max', 767px) {
        height: 68px;
    }
&::after{
        content: "";
        position: absolute;
        background-color: #ffffff;
        border-radius: 0 0 100% 100%;
        width: 100%;
        height: 185%;
        top: -98%; 
        @include mq('max', 1199px) {
            height: 146%;
            top: -51%;
        }
        @include mq('max', 991px) {
            height: 94%;
            top: -2%;
        }
        @include mq('max', 767px) {
            height: 124%;
            top: -31%;
            border-radius: 0 0 100% 100% / 99%;
        }
        @include mq('max', 575px) {
            height: 99%;
            top: -4%;
            border-radius: 0 0 100% 100%;
        }
    }

}

.TopBlogBlock {
    position: relative;
    padding: 40px 0 156px; 
    background-color: #fff5ea;
    @include mq('max', 1199px) {
     padding-bottom: 146px;
    }
    @include mq('max', 991px) {
        padding-top: 60px;
        padding-bottom: 136px; 
       }
    @include mq('max', 767px) {
        padding-bottom: 126px; 
       }
    &::before {
        content: '';
        background-color: #fff5ea;
        width: 100%;
        height: 228px;
        position: absolute;
        top: -2px;
        z-index: 0;
    }
}

.TopBlogThumb {
    position: relative;
    padding-top: 79%;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px; 
    margin-top: -60px;
   &, img {
        @include css3(transition, all 600ms cubic-bezier(0.5, 0, 0, 1.25));
    }
    
    &::before{
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        @include css3(transition, all 350ms cubic-bezier(0.5, 0, 0, 1.25));
        z-index: 2;
        border-radius: 50%;
    }

    &::before {
        bottom: -50%;
        left: -50%;
        background-color: $primary;
    }
}
 

.TopBlogCard {
    @include css3(transition, all 0.4s cubic-bezier(0.5, 0, 0, 1.25));
    padding: 12px 17px;
    border-radius: 30px 30px 16px 16px;
    display: block;
    background-color: #fff;
    box-shadow: 0 10px 55px -5px rgba(0, 0, 0, 0.04), 0 6px 10px -6px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 10px 55px -5px rgba(0, 0, 0, 0.04), 0 6px 10px -6px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 10px 55px -5px rgba(0, 0, 0, 0.04), 0 6px 10px -6px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 10px 55px -5px rgba(0, 0, 0, 0.04), 0 6px 10px -6px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0 10px 55px -5px rgba(0, 0, 0, 0.04), 0 6px 10px -6px rgba(0, 0, 0, 0.08);
    @include mq('max', 1199px) {
       margin-bottom: 30px;
       padding: 12px 15px;
    } 
    &:hover {
        .TopBlogThumb {
            @include css3(box-shadow, 0 28px 50px -12px rgb(0 0 0 / 24%)); 
            @include css3(transform, scale(1.04));

            img {
                @include css3(transform, scale(1.25));
            } 
    
            &::before {
                bottom: -30px;
                left: -30px; 
                -webkit-box-shadow: 0 0 0px 20px rgba($primary, 0.2), 0 0 0px 40px rgba($primary, 0.2);
                -moz-box-shadow: 0 0 0px 20px rgba($primary, 0.2), 0 0 0px 40px rgba($primary, 0.2);
                -ms-box-shadow: 0 0 0px 20px rgba($primary, 0.2), 0 0 0px 40px rgba($primary, 0.2);
                -o-box-shadow: 0 0 0px 20px rgba($primary, 0.2), 0 0 0px 40px rgba($primary, 0.2);
                     box-shadow: 0 0 0px 20px rgba($primary, 0.2), 0 0 0px 40px rgba($primary, .5)
            }
        }

        .BlogReadMore svg,
        .BlogTitle {
            color: $primary;  
        }  

        .BlogReadMore svg{
            -webkit-animation: slideFooter 400ms ease;
            -moz-animation: slideFooter 400ms ease;
            -o-animation: slideFooter 400ms ease;
            animation: slideFooter 400ms ease; 
        }

    }
}



@-webkit-keyframes slideFooter {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
        opacity: 0;
    }

    51% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes slideFooter {
    0% {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -moz-transform: translateX(15px);
        transform: translateX(15px);
        opacity: 0;
    }

    51% {
        -moz-transform: translateX(-15px);
        transform: translateX(-15px);
        opacity: 0;
    }

    100% {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}

@-o-keyframes slideFooter {
    0% {
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -o-transform: translateX(15px);
        transform: translateX(15px);
        opacity: 0;
    }

    51% {
        -o-transform: translateX(-15px);
        transform: translateX(-15px);
        opacity: 0;
    }

    100% {
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideFooter {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(15px);
        -moz-transform: translateX(15px);
        -o-transform: translateX(15px);
        transform: translateX(15px);
        opacity: 0;
    }

    51% {
        -webkit-transform: translateX(-15px);
        -moz-transform: translateX(-15px);
        -o-transform: translateX(-15px);
        transform: translateX(-15px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

.TopBlogCont {
    position: relative;
    z-index: 0;
}

.TopBlogContBody{
    position: relative;
    z-index: 0;
    @include min-max(992px, 1199px) {
       max-width: 100%;
       padding-left: 24px;
       padding-right: 24px;
    } 
    @include mq('max', 991px) {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
     }   
}


.TopBlogRow {
    margin: 0 -12px; 
    @include mq('max', 1299px) {
        margin: 0 -10px;
    } 
    @include mq('max', 1199px) {
        margin-bottom: -30px;
       @include scrollHorizontal; 
    }  
    @include mq('max', 991px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.TopBlogCol {
    padding: 0 12px;
    margin-top: 48px; 
    @include mq('max', 1299px) {
        padding: 0 10px;
    } 
    @include mq('max', 991px) {
        @include columnGrid(260px);
    } 
    @include mq('max', 575px) {
        @include columnGrid(275px);
    } 
}

.BlogDate, .BlogTitle{ 
    font-size: 16px;
   @include SixteenFontMedia;
}

.BlogDate {
    color: $charcoal; 
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    font-style: normal;
    @include mq('max', 991px) {
        font-size: 12px;
    } 
}

.BlogTitle {
    color: $charcoal; 
    font-weight: 700;
    line-height: 26px;
    margin-top: 6px;
    letter-spacing: 0.4px; 
    font-style: normal;
    min-height: 90px;
    @include mq('max', 991px) {
        line-height: 1.5; 
        min-height: 70px;
    }
}

.BlogDateImg {
    margin-right: 8px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -3px;

      svg{
        width: 16px;
        height: 16px;
        color: $primary;
        @include mq('max', 991px) {
            width: 14px;
            height: 14px;
          }
      }
}

.BlogDateImgTrv{
    color: $secondary;
    position: relative;
    top: -1px;
}

.BlogReadMore{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          font-weight: 700;
          color: $lightgray;
          border-top: solid 1px #f5f0ea;
          margin-top: 10px;
          padding-top: 11px;
          @include mq('max', 991px) {
           font-size: 13px;
        } 
  svg{
    color: $secondary;
  }
}